In [1]:
import pandas as pd
import numpy as np

In [2]:
#데이터 불러오기#왼쪽 정명 5kg
rawData_LP_origin = pd.read_csv('data/5kg_jung142956_left_pressure_data.txt', sep = ' ', names=['time','LP1','LP2','LP3', 'LP4', 'LP5', 'LP6','LP7'])
#rawData1 = rawData.set_index('time')
rawData_LP_origin.drop('time', axis=1, inplace=True)
rawData_LP=rawData_LP_origin.copy()
#rawData_LP.drop('time', axis=1, inplace=True)
rawData_LP['LP_sum']=rawData_LP_origin.sum(axis=1) #합계
rawData_LP['LP_mean']=rawData_LP_origin.mean(axis=1) #평균
rawData_LP['LP_std']=rawData_LP_origin.std(axis=1) #표준편차
rawData_LP['LP_var']=rawData_LP_origin.var(axis=1) #분산
rawData_LP['LP_min']=rawData_LP_origin.min(axis=1) #최소
rawData_LP['LP_max']=rawData_LP_origin.max(axis=1) #최대
rawData_LP['LP_sma']=rawData_LP['LP_mean'].rolling(window=5).mean() #이동평균
rawData_LP['LP_quantile']=rawData_LP_origin.quantile(axis=1) #0부터1까지의 분위수 계산
rawData_LP['LP_median']= rawData_LP_origin.median(axis=1) # 중위값
rawData_LP['LP_mad']=rawData_LP_origin.mad(axis=1) # 평균값에서 절대 평균편차
rawData_LP['LP_skew'] = rawData_LP_origin.skew(axis=1) # 표본비대칭도
rawData_LP['LP_kurt'] = rawData_LP_origin.kurt(axis=1) # 표본첨도
rawData_LP['LP_sma']=rawData_LP['LP_sma'].fillna(rawData_LP['LP_sma'].mean())
rawData_LP.describe()

,LP1,LP2,LP3,LP4,LP5,LP6,LP7,LP_sum,LP_mean,LP_std,LP_var,LP_min,LP_max,LP_sma,LP_quantile,LP_median,LP_mad,LP_skew,LP_kurt
count,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000
mean,31.362612,6.545308,3.493339,8.560094,7.449422,6.739570,7.386473,71.536817,10.219545,9.936485,141.020829,2.394964,31.434929,10.217247,7.442981,7.442981,6.402391,1.607846,3.953772
std,18.774585,5.715840,4.399911,6.453086,5.465991,5.334104,6.418423,40.631707,5.804530,6.503329,143.534202,2.755226,18.655169,5.781437,5.561681,5.561681,4.339556,1.046700,2.364129
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-2.645751,-2.800000
25%,22.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,42.000000,6.000000,6.755848,45.642857,1.000000,22.000000,6.057143,1.000000,1.000000,4.285714,1.465184,3.072345
50%,35.000000,4.000000,1.000000,10.000000,9.000000,6.000000,6.000000,84.000000,12.000000,10.270160,105.476190,1.000000,35.000000,12.000000,8.000000,8.000000,6.489796,2.049897,4.761703
75%,42.000000,13.000000,4.000000,14.000000,12.000000,11.000000,11.000000,103.000000,14.714286,13.134832,172.523810,3.000000,42.000000,14.685714,12.000000,12.000000,8.285714,2.244290,5.450723
max,71.000000,19.000000,16.000000,21.000000,22.000000,22.000000,30.000000,148.000000,21.142857,26.324893,693.000000,13.000000,71.000000,21.028571,21.000000,21.000000,18.571429,2.645751,7.000000

In [3]:
#오른쪽데이터
rawData_RP_origin = pd.read_csv('data/5kg_jung142956_right_pressure_data.txt', sep = ' ', names=['time','RP1','RP2','RP3', 'RP4', 'RP5', 'RP6','RP7'])
"rawData1 = rawData.set_index('time')"
rawData_RP_origin.drop('time', axis=1, inplace=True)
rawData_RP=rawData_RP_origin.copy()
#rawData_RP.drop('time', axis=1, inplace=True)
rawData_RP['RP_sum']=rawData_RP_origin.sum(axis=1) #합계
rawData_RP['RP_mean']=rawData_RP_origin.mean(axis=1) #평균
rawData_RP['RP_std']=rawData_RP_origin.std(axis=1) #표준편차
rawData_RP['RP_var']=rawData_RP_origin.var(axis=1) #분산
rawData_RP['RP_min']=rawData_RP_origin.min(axis=1) #최소
rawData_RP['RP_max']=rawData_RP_origin.max(axis=1) #최대
rawData_RP['RP_sma']=rawData_RP['RP_mean'].rolling(window=5).mean() #이동평균
rawData_RP['RP_quantile']=rawData_RP_origin.quantile(axis=1) #0부터1까지의 분위수 계산
rawData_RP['RP_median']= rawData_RP_origin.median(axis=1) # 중위값
rawData_RP['RP_mad']=rawData_RP_origin.mad(axis=1) # 평균값에서 절대 평균편차
rawData_RP['RP_skew'] = rawData_RP_origin.skew(axis=1) # 표본비대칭도
rawData_RP['RP_kurt'] = rawData_RP_origin.kurt(axis=1) # 표본첨도
rawData_RP['RP_sma']=rawData_RP['RP_sma'].fillna(rawData_RP['RP_sma'].mean())
rawData_LP.describe()

,LP1,LP2,LP3,LP4,LP5,LP6,LP7,LP_sum,LP_mean,LP_std,LP_var,LP_min,LP_max,LP_sma,LP_quantile,LP_median,LP_mad,LP_skew,LP_kurt
count,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000
mean,31.362612,6.545308,3.493339,8.560094,7.449422,6.739570,7.386473,71.536817,10.219545,9.936485,141.020829,2.394964,31.434929,10.217247,7.442981,7.442981,6.402391,1.607846,3.953772
std,18.774585,5.715840,4.399911,6.453086,5.465991,5.334104,6.418423,40.631707,5.804530,6.503329,143.534202,2.755226,18.655169,5.781437,5.561681,5.561681,4.339556,1.046700,2.364129
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-2.645751,-2.800000
25%,22.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,42.000000,6.000000,6.755848,45.642857,1.000000,22.000000,6.057143,1.000000,1.000000,4.285714,1.465184,3.072345
50%,35.000000,4.000000,1.000000,10.000000,9.000000,6.000000,6.000000,84.000000,12.000000,10.270160,105.476190,1.000000,35.000000,12.000000,8.000000,8.000000,6.489796,2.049897,4.761703
75%,42.000000,13.000000,4.000000,14.000000,12.000000,11.000000,11.000000,103.000000,14.714286,13.134832,172.523810,3.000000,42.000000,14.685714,12.000000,12.000000,8.285714,2.244290,5.450723
max,71.000000,19.000000,16.000000,21.000000,22.000000,22.000000,30.000000,148.000000,21.142857,26.324893,693.000000,13.000000,71.000000,21.028571,21.000000,21.000000,18.571429,2.645751,7.000000

In [4]:
#정명 5kg 왼쪽 가속도 데이터 불러오기
rawData_LA_origin = pd.read_csv('data/5kg_jung142956_left_axis_data.txt', sep = ' ', names=['time','LAX','LAY','LAZ'])
rawData_LA_origin.drop('time', axis=1, inplace=True)
rawData_LA=rawData_LA_origin.copy()
rawData_LA['LA_sum']=rawData_LA_origin.sum(axis=1) #합계
rawData_LA['LA_mean']=rawData_LA_origin.mean(axis=1) #평균
rawData_LA['LA_std']=rawData_LA_origin.std(axis=1) #표준편차
rawData_LA['LA_var']=rawData_LA_origin.var(axis=1) #분산
rawData_LA['LA_min']=rawData_LA_origin.min(axis=1) #최소
rawData_LA['LA_max']=rawData_LA_origin.max(axis=1) #최대
rawData_LA['LA_sma']=rawData_LA['LA_mean'].rolling(window=5).mean() #이동평균
rawData_LA['LA_quantile']=rawData_LA_origin.quantile(axis=1) #0부터1까지의 분위수 계산
rawData_LA['LA_median']= rawData_LA_origin.median(axis=1) # 중위값
rawData_LA['LA_mad']=rawData_LA_origin.mad(axis=1) # 평균값에서 절대 평균편차
rawData_LA['LA_skew'] = rawData_LA_origin.skew(axis=1) # 표본비대칭도
#rawData_LA['LA_kurt'] = rawData_LA_origin.kurt(axis=1) # 표본첨도
rawData_LA['LA_sma']=rawData_LA['LA_sma'].fillna(rawData_LA['LA_sma'].mean())
rawData_LP.describe()

,LP1,LP2,LP3,LP4,LP5,LP6,LP7,LP_sum,LP_mean,LP_std,LP_var,LP_min,LP_max,LP_sma,LP_quantile,LP_median,LP_mad,LP_skew,LP_kurt
count,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000
mean,31.362612,6.545308,3.493339,8.560094,7.449422,6.739570,7.386473,71.536817,10.219545,9.936485,141.020829,2.394964,31.434929,10.217247,7.442981,7.442981,6.402391,1.607846,3.953772
std,18.774585,5.715840,4.399911,6.453086,5.465991,5.334104,6.418423,40.631707,5.804530,6.503329,143.534202,2.755226,18.655169,5.781437,5.561681,5.561681,4.339556,1.046700,2.364129
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-2.645751,-2.800000
25%,22.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,42.000000,6.000000,6.755848,45.642857,1.000000,22.000000,6.057143,1.000000,1.000000,4.285714,1.465184,3.072345
50%,35.000000,4.000000,1.000000,10.000000,9.000000,6.000000,6.000000,84.000000,12.000000,10.270160,105.476190,1.000000,35.000000,12.000000,8.000000,8.000000,6.489796,2.049897,4.761703
75%,42.000000,13.000000,4.000000,14.000000,12.000000,11.000000,11.000000,103.000000,14.714286,13.134832,172.523810,3.000000,42.000000,14.685714,12.000000,12.000000,8.285714,2.244290,5.450723
max,71.000000,19.000000,16.000000,21.000000,22.000000,22.000000,30.000000,148.000000,21.142857,26.324893,693.000000,13.000000,71.000000,21.028571,21.000000,21.000000,18.571429,2.645751,7.000000

In [5]:
#정명 5kg 오른쪽 가속도 데이터 불러오기
rawData_RA_origin = pd.read_csv('data/5kg_jung142956_right_axis_data.txt', sep = ' ', names=['time','RAX','RAY','RAZ'])
rawData_RA_origin.drop('time', axis=1, inplace=True)
rawData_RA=rawData_RA_origin.copy()
rawData_RA['RA_sum']=rawData_RA_origin.sum(axis=1) #합계
rawData_RA['RA_mean']=rawData_RA_origin.mean(axis=1) #평균
rawData_RA['RA_std']=rawData_RA_origin.std(axis=1) #표준편차
rawData_RA['RA_var']=rawData_RA_origin.var(axis=1) #분산
rawData_RA['RA_min']=rawData_RA_origin.min(axis=1) #최소
rawData_RA['RA_max']=rawData_RA_origin.max(axis=1) #최대
rawData_RA['RA_sma']=rawData_RA['RA_mean'].rolling(window=5).mean() #이동평균
rawData_RA['RA_quantile']=rawData_RA_origin.quantile(axis=1) #0부터1까지의 분위수 계산
rawData_RA['RA_median']= rawData_RA_origin.median(axis=1) # 중위값
rawData_RA['RA_mad']=rawData_RA_origin.mad(axis=1) # 평균값에서 절대 평균편차
rawData_RA['RA_skew'] = rawData_RA_origin.skew(axis=1) # 표본비대칭도
#rawData_RA['RA_kurt'] = rawData_RA_origin.kurt(axis=1) # 표본첨도
rawData_RA['RA_sma']=rawData_RA['RA_sma'].fillna(rawData_RA['RA_sma'].mean())
rawData_RA.describe()

,RAX,RAY,RAZ,RA_sum,RA_mean,RA_std,RA_var,RA_min,RA_max,RA_sma,RA_quantile,RA_median,RA_mad,RA_skew
count,6833.000000,6833.000000,6833.000000,6833.000000,6833.000000,6833.000000,6833.000000,6833.000000,6833.000000,6833.000000,6833.000000,6833.000000,6833.000000,6833.000000
mean,117.558905,108.024587,141.028538,366.612030,122.204010,70.477138,5789.506220,57.416069,190.621396,122.211939,118.574565,118.574565,52.242548,0.100238
std,72.194493,72.234716,71.484743,116.657712,38.885904,28.680997,4021.367660,44.565628,46.200443,23.353764,55.709796,55.709796,21.572553,1.300894
min,0.000000,0.000000,0.000000,28.000000,9.333333,2.309401,5.333333,0.000000,20.000000,31.733333,0.000000,0.000000,1.777778,-1.732051
25%,56.000000,48.000000,84.000000,292.000000,97.333333,47.721414,2277.333333,24.000000,160.000000,106.133333,72.000000,72.000000,35.555556,-1.237504
50%,108.000000,96.000000,148.000000,356.000000,118.666667,74.009008,5477.333333,48.000000,204.000000,121.066667,120.000000,120.000000,54.222222,0.115280
75%,180.000000,168.000000,204.000000,440.000000,146.666667,91.767823,8421.333333,80.000000,224.000000,137.600000,160.000000,160.000000,68.444444,1.496666
max,252.000000,252.000000,252.000000,740.000000,246.666667,145.492268,21168.000000,236.000000,252.000000,221.866667,252.000000,252.000000,112.000000,1.732051

In [11]:
#5kg 김건우 데이터 병합 #인덱스를 기준으로 병합하여 인덱스가 맡지 않는 3개는 날려버림..
Press_Sensor_5=pd.merge(rawData_RP, rawData_LP, left_index=True,right_index=True)
Accel_Sensor_5=pd.merge(rawData_RA, rawData_LA, left_index=True,right_index=True)
Sensor_data_5=pd.merge(Press_Sensor_5, Accel_Sensor_5, left_index=True,right_index=True)
Sensor_data_5['label']=5
Sensor_data_5.to_csv("data/data_namuk/Sensor_data_jung_5.csv", mode='w')
Press_Sensor_5.to_csv("data/data_namuk/Sensor_Press_data_jung_5.csv", mode='w')
Accel_Sensor_5.to_csv("data/data_namuk/Sensor_Accel_data_jung_5.csv", mode='w')

Sensor_data_5.describe()

,RP1,RP2,RP3,RP4,RP5,RP6,RP7,RP_sum,RP_mean,RP_std,...,LA_std,LA_var,LA_min,LA_max,LA_sma,LA_quantile,LA_median,LA_mad,LA_skew,label
count,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,...,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.000000,6831.0
mean,10.035573,22.881423,19.859025,15.001464,12.889767,10.902503,33.768994,125.338750,17.905536,10.367857,...,71.619956,5995.636364,57.375494,194.183575,126.166457,126.919046,126.919046,52.531629,-0.003636,5.0
std,12.743835,17.842700,15.887771,11.573838,10.355525,9.910811,23.489942,84.147189,12.021027,8.089636,...,29.433740,4164.768790,52.330322,46.066204,26.680240,57.143997,57.143997,21.867549,1.204082,0.0
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.142857,0.000000,...,0.000000,0.000000,0.000000,8.000000,40.266667,0.000000,0.000000,0.000000,-1.732051,5.0
25%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,18.000000,2.571429,1.704336,...,50.332230,2533.333333,16.000000,164.000000,109.066667,84.000000,84.000000,36.444444,-1.226597,5.0
50%,1.000000,26.000000,21.000000,19.000000,15.000000,9.000000,42.000000,156.000000,22.285714,10.945754,...,73.357572,5381.333333,40.000000,204.000000,124.533333,124.000000,124.000000,53.333333,0.069744,5.0
75%,18.000000,37.000000,32.000000,24.000000,22.000000,22.000000,52.000000,207.000000,29.571429,14.046691,...,94.727670,8973.333333,88.000000,232.000000,142.133333,172.000000,172.000000,69.333333,1.116082,5.0
max,60.000000,61.000000,55.000000,41.000000,49.000000,45.000000,107.000000,247.000000,35.285714,40.074336,...,144.351423,20837.333333,248.000000,252.000000,234.933333,252.000000,252.000000,111.111111,1.732051,5.0

In [7]:
#정명10kg 왼쪽압력데이터
rawData_LP_10origin = pd.read_csv('data/10kg_jung_142047_left_pressure_data.txt', sep = ' ', names=['time','LP1','LP2','LP3', 'LP4', 'LP5', 'LP6','LP7'])
#rawData1 = rawData.set_index('time')
rawData_LP_10origin.drop('time', axis=1, inplace=True)
rawData_LP_10=rawData_LP_10origin.copy()
rawData_LP_10['LP_sum']=rawData_LP_10origin.sum(axis=1) #합계
rawData_LP_10['LP_mean']=rawData_LP_10origin.mean(axis=1) #평균
rawData_LP_10['LP_std']=rawData_LP_10origin.std(axis=1) #표준편차
rawData_LP_10['LP_var']=rawData_LP_10origin.var(axis=1) #분산
rawData_LP_10['LP_min']=rawData_LP_10origin.min(axis=1) #최소
rawData_LP_10['LP_max']=rawData_LP_10origin.max(axis=1) #최대
rawData_LP_10['LP_sma']=rawData_LP_10['LP_mean'].rolling(window=5).mean() #이동평균
rawData_LP_10['LP_quantile']=rawData_LP_10origin.quantile(axis=1) #0부터1까지의 분위수 계산
rawData_LP_10['LP_median']= rawData_LP_10origin.median(axis=1) # 중위값
rawData_LP_10['LP_mad']=rawData_LP_10origin.mad(axis=1) # 평균값에서 절대 평균편차
rawData_LP_10['LP_skew'] = rawData_LP_10origin.skew(axis=1) # 표본비대칭도
rawData_LP_10['LP_kurt'] = rawData_LP_10origin.kurt(axis=1) # 표본첨도
rawData_LP_10['LP_sma']=rawData_LP_10['LP_sma'].fillna(rawData_LP_10['LP_sma'].mean())#결측값수정
rawData_LP_10.describe()

,LP1,LP2,LP3,LP4,LP5,LP6,LP7,LP_sum,LP_mean,LP_std,LP_var,LP_min,LP_max,LP_sma,LP_quantile,LP_median,LP_mad,LP_skew,LP_kurt
count,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000
mean,7.335075,18.455911,15.746571,12.969301,10.385369,10.771391,31.480732,107.144350,15.306336,9.486306,172.848745,2.715872,31.636185,15.278716,14.603527,14.603527,6.607606,0.211216,1.683668
std,12.678248,16.529431,14.306260,11.751889,10.289618,9.911635,27.328218,86.773987,12.396284,9.105652,279.019067,5.000615,27.150878,12.280596,12.778719,12.778719,7.038604,1.020124,2.237398
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.142857,0.000000,0.000000,0.000000,1.000000,0.142857,0.000000,0.000000,0.000000,-2.645751,-2.800000
25%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.000000,1.000000,0.487950,0.238095,1.000000,1.000000,1.000000,1.000000,1.000000,0.408163,-0.243689,0.000000
50%,1.000000,19.000000,17.000000,15.000000,5.000000,9.000000,36.000000,129.000000,18.428571,10.408330,108.333333,1.000000,36.000000,18.057143,17.000000,17.000000,6.122449,0.000000,1.547005
75%,4.000000,31.000000,27.000000,24.000000,21.000000,20.000000,51.000000,176.500000,25.214286,13.673053,186.952381,1.000000,51.000000,25.142857,25.000000,25.000000,9.306122,0.731965,2.855445
max,58.000000,56.000000,46.000000,34.000000,30.000000,30.000000,110.000000,241.000000,34.428571,43.192261,1865.571429,22.000000,110.000000,34.257143,43.000000,43.000000,33.877551,2.645751,7.000000

In [8]:
#정명10kg 압력데이터 오른쪽
rawData_RP_10origin = pd.read_csv('data/10kg_jung_142047_right_pressure_data.txt', sep = ' ', names=['time','RP1','RP2','RP3', 'RP4', 'RP5', 'RP6','RP7'])
#rawData1 = rawData.set_index('time')
rawData_RP_10origin.drop('time', axis=1, inplace=True)
rawData_RP_10=rawData_RP_10origin.copy()
rawData_RP_10['RP_sum']=rawData_RP_10origin.sum(axis=1) #합계
rawData_RP_10['RP_mean']=rawData_RP_10origin.mean(axis=1) #평균
rawData_RP_10['RP_std']=rawData_RP_10origin.std(axis=1) #표준편차
rawData_RP_10['RP_var']=rawData_RP_10origin.var(axis=1) #분산
rawData_RP_10['RP_min']=rawData_RP_10origin.min(axis=1) #최소
rawData_RP_10['RP_max']=rawData_RP_10origin.max(axis=1) #최대
rawData_RP_10['RP_sma']=rawData_RP_10['RP_mean'].rolling(window=5).mean() #이동평균
rawData_RP_10['RP_quantile']=rawData_RP_10origin.quantile(axis=1) #0부터1까지의 분위수 계산
rawData_RP_10['RP_median']= rawData_RP_10origin.median(axis=1) # 중위값
rawData_RP_10['RP_mad']=rawData_RP_10origin.mad(axis=1) # 평균값에서 절대 평균편차
rawData_RP_10['RP_skew'] = rawData_RP_10origin.skew(axis=1) # 표본비대칭도
rawData_RP_10['RP_kurt'] = rawData_RP_10origin.kurt(axis=1) # 표본첨도
rawData_RP_10['RP_sma']=rawData_RP_10['RP_sma'].fillna(rawData_RP_10['RP_sma'].mean())#결측값수정
rawData_RP_10.describe()

,RP1,RP2,RP3,RP4,RP5,RP6,RP7,RP_sum,RP_mean,RP_std,RP_var,RP_min,RP_max,RP_sma,RP_quantile,RP_median,RP_mad,RP_skew,RP_kurt
count,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000
mean,22.860117,4.997398,2.408588,7.126220,6.931685,7.186727,7.123617,58.634353,8.376336,7.068191,81.040803,1.735849,23.011061,8.370292,7.135329,7.135329,4.512368,1.392969,3.495561
std,17.714146,5.201662,3.566647,6.527262,5.761415,6.030489,6.608298,44.779702,6.397100,5.576891,89.325571,2.379759,17.521802,6.362296,5.889380,5.889380,3.644073,1.130617,2.487805
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.142857,0.000000,0.000000,0.000000,1.000000,0.142857,0.000000,0.000000,0.000000,-2.645751,-2.800000
25%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.000000,1.000000,0.534522,0.285714,1.000000,1.000000,1.000000,1.000000,1.000000,0.489796,1.268284,2.450912
50%,23.000000,1.000000,1.000000,6.000000,6.000000,6.000000,6.000000,54.000000,7.714286,6.701102,44.904762,1.000000,23.000000,7.771429,6.000000,6.000000,4.204082,1.707823,4.070555
75%,39.000000,9.000000,1.000000,14.000000,12.000000,12.000000,11.000000,103.000000,14.714286,11.571723,133.904762,1.000000,39.000000,14.657143,13.000000,13.000000,7.102041,2.013184,4.888667
max,56.000000,17.000000,16.000000,20.000000,19.000000,21.000000,24.000000,135.000000,19.285714,19.533853,381.571429,12.000000,56.000000,19.114286,19.000000,19.000000,14.285714,2.645751,7.000000

In [9]:
#정명10kg 가속도데이터 왼쪽
rawData_LA_10origin = pd.read_csv('data/10kg_jung_142047_left_axis_data.txt', sep = ' ', names=['time','LAX','LAY','LAZ'])
#rawData1 = rawData.set_index('time')
rawData_LA_10origin.drop('time', axis=1, inplace=True)
rawData_LA_10=rawData_LA_10origin.copy()
rawData_LA_10['LA_sum']=rawData_LA_10origin.sum(axis=1) #합계
rawData_LA_10['LA_mean']=rawData_LA_10origin.mean(axis=1) #평균
rawData_LA_10['LA_std']=rawData_LA_10origin.std(axis=1) #표준편차
rawData_LA_10['LA_var']=rawData_LA_10origin.var(axis=1) #분산
rawData_LA_10['LA_min']=rawData_LA_10origin.min(axis=1) #최소
rawData_LA_10['LA_max']=rawData_LA_10origin.max(axis=1) #최대
rawData_LA_10['LA_sma']=rawData_LA_10['LA_mean'].rolling(window=5).mean() #이동평균
rawData_LA_10['LA_quantile']=rawData_LA_10origin.quantile(axis=1) #0부터1까지의 분위수 계산
rawData_LA_10['LA_median']= rawData_LA_10origin.median(axis=1) # 중위값
rawData_LA_10['LA_mad']=rawData_LA_10origin.mad(axis=1) # 평균값에서 절대 평균편차
rawData_LA_10['LA_skew'] = rawData_LA_10origin.skew(axis=1) # 표본비대칭도
#rawData_LA_15['LA_kurt'] = rawData_LA_15origin.kurt(axis=1) # 표본첨도- 가속도에서는 값이 나오지 않아서 제외
rawData_LA_10['LA_sma']=rawData_LA_10['LA_sma'].fillna(rawData_LA_10['LA_sma'].mean())#결측값수정
rawData_LA_10.describe()

,LAX,LAY,LAZ,LA_sum,LA_mean,LA_std,LA_var,LA_min,LA_max,LA_sma,LA_quantile,LA_median,LA_mad,LA_skew
count,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000
mean,123.830176,124.812541,125.457871,374.100588,124.700196,65.870518,5246.164163,62.325278,187.621163,124.756516,124.154148,124.154148,48.591044,0.015110
std,71.327597,72.914729,73.527630,126.245648,42.081883,30.130249,4169.169448,48.734106,49.732699,21.370006,55.752837,55.752837,22.506855,1.253388
min,0.000000,0.000000,0.000000,16.000000,5.333333,2.309401,5.333333,0.000000,12.000000,63.200000,0.000000,0.000000,1.777778,-1.732051
25%,68.000000,64.000000,62.000000,288.000000,96.000000,43.143172,1861.333333,20.000000,156.000000,110.133333,84.000000,84.000000,32.000000,-1.243537
50%,124.000000,124.000000,128.000000,376.000000,125.333333,64.663230,4181.333333,56.000000,200.000000,124.800000,124.000000,124.000000,47.111111,0.000000
75%,188.000000,184.000000,192.000000,468.000000,156.000000,89.009331,7922.666667,96.000000,228.000000,139.333333,164.000000,164.000000,64.888889,1.293343
max,252.000000,252.000000,252.000000,728.000000,242.666667,143.182867,20501.333333,228.000000,252.000000,187.733333,252.000000,252.000000,110.222222,1.732051

In [10]:
#김정명 10kg 가속도데이터 오른쪽
rawData_RA_10origin = pd.read_csv('data/10kg_jung_142047_right_axis_data.txt', sep = ' ', names=['time','RAX','RAY','RAZ'])
#rawData1 = rawData.set_index('time')
rawData_RA_10origin.drop('time', axis=1, inplace=True)
rawData_RA_10=rawData_RA_10origin.copy()
rawData_RA_10['RA_sum']=rawData_RA_10origin.sum(axis=1) #합계
rawData_RA_10['RA_mean']=rawData_RA_10origin.mean(axis=1) #평균
rawData_RA_10['RA_std']=rawData_RA_10origin.std(axis=1) #표준편차
rawData_RA_10['RA_var']=rawData_RA_10origin.var(axis=1) #분산
rawData_RA_10['RA_min']=rawData_RA_10origin.min(axis=1) #최소
rawData_RA_10['RA_max']=rawData_RA_10origin.max(axis=1) #최대
rawData_RA_10['RA_sma']=rawData_RA_10['RA_mean'].rolling(window=5).mean() #이동평균
rawData_RA_10['RA_quantile']=rawData_RA_10origin.quantile(axis=1) #0부터1까지의 분위수 계산
rawData_RA_10['RA_median']= rawData_RA_10origin.median(axis=1) # 중위값
rawData_RA_10['RA_mad']=rawData_RA_10origin.mad(axis=1) # 평균값에서 절대 평균편차
rawData_RA_10['RA_skew'] = rawData_RA_10origin.skew(axis=1) # 표본비대칭도
#rawData_RA_10['RA_kurt'] = rawData_RA_10origin.kurt(axis=1) # 표본첨도 - 가속도는 표본첨도 제외
rawData_RA_10['RA_sma']=rawData_RA_10['RA_sma'].fillna(rawData_RA_10['RA_sma'].mean())#결측값수정
rawData_RA_10.describe()

,RAX,RAY,RAZ,RA_sum,RA_mean,RA_std,RA_var,RA_min,RA_max,RA_sma,RA_quantile,RA_median,RA_mad,RA_skew
count,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000
mean,134.815875,126.802863,128.588159,390.206897,130.068966,65.332850,5200.003470,67.554977,191.544567,129.999043,131.107352,131.107352,48.264296,-0.047867
std,73.774311,71.613279,72.434221,127.825652,42.608551,30.532420,4239.605290,51.863199,47.871690,23.081700,56.377490,56.377490,22.922071,1.253921
min,0.000000,0.000000,0.000000,60.000000,20.000000,2.309401,5.333333,0.000000,36.000000,60.800000,0.000000,0.000000,1.777778,-1.732051
25%,76.000000,68.000000,72.000000,300.000000,100.000000,41.761226,1744.000000,24.000000,164.000000,114.400000,88.000000,88.000000,31.111111,-1.309351
50%,144.000000,128.000000,128.000000,392.000000,130.666667,64.373908,4144.000000,60.000000,200.000000,128.800000,136.000000,136.000000,47.111111,-0.081045
75%,200.000000,188.000000,192.000000,480.000000,160.000000,88.121129,7765.333333,104.000000,232.000000,143.733333,176.000000,176.000000,65.777778,1.205659
max,252.000000,252.000000,252.000000,724.000000,241.333333,142.154845,20208.000000,236.000000,252.000000,208.533333,252.000000,252.000000,109.333333,1.732051

In [12]:
Sensor_data_10_P = pd.merge(rawData_LP_10, rawData_RP_10,left_index=True,right_index=True)
Sensor_data_10_A = pd.merge(rawData_LA_10, rawData_RA_10,left_index=True,right_index=True)
Sensor_data_10 = pd.merge(Sensor_data_10_P, Sensor_data_10_A,left_index=True,right_index=True)
Sensor_data_10['label']=10
Sensor_data_10.to_csv("data/data_namuk/Sensor_data_jung_10.csv", mode='w')
Sensor_data_10_P.to_csv("data/data_namuk/Sensor_Press_data_jung_10.csv", mode='w')
Sensor_data_10_A.to_csv("data/data_namuk/Sensor_Accel_data_jung_10.csv", mode='w')
Sensor_data_10.describe()

,LP1,LP2,LP3,LP4,LP5,LP6,LP7,LP_sum,LP_mean,LP_std,...,RA_std,RA_var,RA_min,RA_max,RA_sma,RA_quantile,RA_median,RA_mad,RA_skew,label
count,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,...,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.000000,1531.0
mean,7.335075,18.455911,15.746571,12.969301,10.385369,10.771391,31.480732,107.144350,15.306336,9.486306,...,65.375579,5207.844981,67.391248,191.464402,129.805528,130.915741,130.915741,48.296683,-0.045867,10.0
std,12.678248,16.529431,14.306260,11.751889,10.289618,9.911635,27.328218,86.773987,12.396284,9.105652,...,30.569414,4244.715155,51.826310,47.917091,22.914029,56.396774,56.396774,22.948205,1.254285,0.0
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.142857,0.000000,...,2.309401,5.333333,0.000000,36.000000,60.800000,0.000000,0.000000,1.777778,-1.732051,10.0
25%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.000000,1.000000,0.487950,...,41.888548,1754.666667,24.000000,162.000000,114.400000,88.000000,88.000000,31.111111,-1.301347,10.0
50%,1.000000,19.000000,17.000000,15.000000,5.000000,9.000000,36.000000,129.000000,18.428571,10.408330,...,64.373908,4144.000000,60.000000,200.000000,128.800000,136.000000,136.000000,47.111111,-0.081045,10.0
75%,4.000000,31.000000,27.000000,24.000000,21.000000,20.000000,51.000000,176.500000,25.214286,13.673053,...,88.211866,7781.333333,100.000000,232.000000,143.466667,172.000000,172.000000,65.777778,1.205659,10.0
max,58.000000,56.000000,46.000000,34.000000,30.000000,30.000000,110.000000,241.000000,34.428571,43.192261,...,142.154845,20208.000000,236.000000,252.000000,208.533333,252.000000,252.000000,109.333333,1.732051,10.0

In [13]:
#정명15kg 왼쪽압력데이터
rawData_LP_15origin = pd.read_csv('data/15kg_jung_141654_left_pressure_data.txt', sep = ' ', names=['time','LP1','LP2','LP3', 'LP4', 'LP5', 'LP6','LP7'])
#rawData1 = rawData.set_index('time')
rawData_LP_15origin.drop('time', axis=1, inplace=True)
rawData_LP_15=rawData_LP_15origin.copy()
rawData_LP_15['LP_sum']=rawData_LP_15origin.sum(axis=1) #합계
rawData_LP_15['LP_mean']=rawData_LP_15origin.mean(axis=1) #평균
rawData_LP_15['LP_std']=rawData_LP_15origin.std(axis=1) #표준편차
rawData_LP_15['LP_var']=rawData_LP_15origin.var(axis=1) #분산
rawData_LP_15['LP_min']=rawData_LP_15origin.min(axis=1) #최소
rawData_LP_15['LP_max']=rawData_LP_15origin.max(axis=1) #최대
rawData_LP_15['LP_sma']=rawData_LP_15['LP_mean'].rolling(window=5).mean() #이동평균
rawData_LP_15['LP_quantile']=rawData_LP_15origin.quantile(axis=1) #0부터1까지의 분위수 계산
rawData_LP_15['LP_median']= rawData_LP_15origin.median(axis=1) # 중위값
rawData_LP_15['LP_mad']=rawData_LP_15origin.mad(axis=1) # 평균값에서 절대 평균편차
rawData_LP_15['LP_skew'] = rawData_LP_15origin.skew(axis=1) # 표본비대칭도
rawData_LP_15['LP_kurt'] = rawData_LP_15origin.kurt(axis=1) # 표본첨도
rawData_LP_15['LP_sma']=rawData_LP_15['LP_sma'].fillna(rawData_LP_15['LP_sma'].mean())#결측값수정
rawData_LP_15.describe()

,LP1,LP2,LP3,LP4,LP5,LP6,LP7,LP_sum,LP_mean,LP_std,LP_var,LP_min,LP_max,LP_sma,LP_quantile,LP_median,LP_mad,LP_skew,LP_kurt
count,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000
mean,7.564444,18.714921,15.495238,12.200000,11.636190,11.843175,30.794921,108.248889,15.464127,9.238409,159.767196,3.295238,31.100952,15.431663,14.810159,14.810159,6.531882,0.321894,1.230248
std,12.511728,17.118449,14.474394,11.148187,11.212302,11.090601,26.210209,88.008549,12.572650,8.629384,241.242184,5.388922,26.057201,12.480155,12.959624,12.959624,6.805633,0.806863,2.024826
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.142857,0.000000,0.000000,0.000000,1.000000,0.142857,0.000000,0.000000,0.000000,-2.645751,-2.800000
25%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.000000,1.000000,0.487950,0.238095,1.000000,1.000000,1.000000,1.000000,1.000000,0.408163,-0.055804,0.000000
50%,1.000000,20.000000,16.000000,13.000000,7.000000,8.000000,36.000000,128.000000,18.285714,10.799030,116.619048,1.000000,36.000000,17.857143,16.000000,16.000000,6.897959,0.000000,1.406444
75%,9.000000,34.000000,28.000000,22.000000,24.000000,24.000000,52.000000,191.000000,27.285714,13.645163,186.190476,1.000000,52.000000,26.957143,26.000000,26.000000,8.857143,0.841906,2.617978
max,58.000000,65.000000,48.000000,37.000000,32.000000,33.000000,97.000000,244.000000,34.857143,37.385380,1397.666667,23.000000,97.000000,34.657143,44.000000,44.000000,32.000000,2.645751,7.000000

In [14]:
#정명15kg 압력데이터 오른쪽
rawData_RP_15origin = pd.read_csv('data/15kg_jung_141654_right_pressure_data.txt', sep = ' ', names=['time','RP1','RP2','RP3', 'RP4', 'RP5', 'RP6','RP7'])
#rawData1 = rawData.set_index('time')
rawData_RP_15origin.drop('time', axis=1, inplace=True)
rawData_RP_15=rawData_RP_15origin.copy()
rawData_RP_15['RP_sum']=rawData_RP_15origin.sum(axis=1) #합계
rawData_RP_15['RP_mean']=rawData_RP_15origin.mean(axis=1) #평균
rawData_RP_15['RP_std']=rawData_RP_15origin.std(axis=1) #표준편차
rawData_RP_15['RP_var']=rawData_RP_15origin.var(axis=1) #분산
rawData_RP_15['RP_min']=rawData_RP_15origin.min(axis=1) #최소
rawData_RP_15['RP_max']=rawData_RP_15origin.max(axis=1) #최대
rawData_RP_15['RP_sma']=rawData_RP_15['RP_mean'].rolling(window=5).mean() #이동평균
rawData_RP_15['RP_quantile']=rawData_RP_15origin.quantile(axis=1) #0부터1까지의 분위수 계산
rawData_RP_15['RP_median']= rawData_RP_15origin.median(axis=1) # 중위값
rawData_RP_15['RP_mad']=rawData_RP_15origin.mad(axis=1) # 평균값에서 절대 평균편차
rawData_RP_15['RP_skew'] = rawData_RP_15origin.skew(axis=1) # 표본비대칭도
rawData_RP_15['RP_kurt'] = rawData_RP_15origin.kurt(axis=1) # 표본첨도
rawData_RP_15['RP_sma']=rawData_RP_15['RP_sma'].fillna(rawData_RP_15['RP_sma'].mean())#결측값수정
rawData_RP_15.describe()

,RP1,RP2,RP3,RP4,RP5,RP6,RP7,RP_sum,RP_mean,RP_std,RP_var,RP_min,RP_max,RP_sma,RP_quantile,RP_median,RP_mad,RP_skew,RP_kurt
count,1576.000000,1576.000000,1576.000000,1576.000000,1576.000000,1576.000000,1576.000000,1576.000000,1576.000000,1576.000000,1576.000000,1576.000000,1576.000000,1576.000000,1576.000000,1576.000000,1576.000000,1576.000000,1576.000000
mean,21.277284,4.502538,1.979061,6.664975,6.392766,6.812817,6.676396,54.305838,7.757977,6.673875,81.144670,1.399746,21.516497,7.753235,6.597716,6.597716,4.263597,1.340003,3.481783
std,19.164349,4.927151,2.887995,6.592112,5.947702,6.293447,7.288999,47.055324,6.722189,6.052049,102.102244,2.143452,18.901542,6.679509,6.152504,6.152504,3.923624,1.244961,2.635236
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.057143,0.000000,0.000000,0.000000,-2.645751,-2.800000
25%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,6.750000,0.964286,0.487950,0.238095,0.750000,1.000000,0.942857,1.000000,1.000000,0.408163,1.229634,2.316664
50%,16.000000,1.000000,1.000000,4.000000,4.000000,4.000000,3.000000,42.000000,6.000000,4.770920,22.761905,1.000000,16.000000,6.028571,4.000000,4.000000,3.040816,1.677549,4.067065
75%,40.000000,8.000000,1.000000,13.000000,12.000000,12.000000,12.000000,105.000000,15.000000,11.803954,139.333333,1.000000,40.000000,14.871429,12.250000,12.250000,7.265306,2.076300,5.221892
max,61.000000,16.000000,14.000000,20.000000,19.000000,21.000000,26.000000,146.000000,20.857143,21.607979,466.904762,12.000000,61.000000,20.714286,20.000000,20.000000,15.469388,2.645751,7.000000

In [15]:
#김정명15kg 가속도데이터 왼쪽
rawData_LA_15origin = pd.read_csv('data/15kg_jung_141654_left_axis_data.txt', sep = ' ', names=['time','LAX','LAY','LAZ'])
#rawData1 = rawData.set_index('time')
rawData_LA_15origin.drop('time', axis=1, inplace=True)
rawData_LA_15=rawData_LA_15origin.copy()
rawData_LA_15['LA_sum']=rawData_LA_15origin.sum(axis=1) #합계
rawData_LA_15['LA_mean']=rawData_LA_15origin.mean(axis=1) #평균
rawData_LA_15['LA_std']=rawData_LA_15origin.std(axis=1) #표준편차
rawData_LA_15['LA_var']=rawData_LA_15origin.var(axis=1) #분산
rawData_LA_15['LA_min']=rawData_LA_15origin.min(axis=1) #최소
rawData_LA_15['LA_max']=rawData_LA_15origin.max(axis=1) #최대
rawData_LA_15['LA_sma']=rawData_LA_15['LA_mean'].rolling(window=5).mean() #이동평균
rawData_LA_15['LA_quantile']=rawData_LA_15origin.quantile(axis=1) #0부터1까지의 분위수 계산
rawData_LA_15['LA_median']= rawData_LA_15origin.median(axis=1) # 중위값
rawData_LA_15['LA_mad']=rawData_LA_15origin.mad(axis=1) # 평균값에서 절대 평균편차
rawData_LA_15['LA_skew'] = rawData_LA_15origin.skew(axis=1) # 표본비대칭도
#rawData_LA_15['LA_kurt'] = rawData_LA_15origin.kurt(axis=1) # 표본첨도
rawData_LA_15['LA_sma']=rawData_LA_15['LA_sma'].fillna(rawData_LA_15['LA_sma'].mean())#결측값수정
rawData_LA_15.describe()

,LAX,LAY,LAZ,LA_sum,LA_mean,LA_std,LA_var,LA_min,LA_max,LA_sma,LA_quantile,LA_median,LA_mad,LA_skew
count,1575.000000,1575.000000,1575.000000,1575.00000,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000
mean,120.040635,126.542222,126.618413,373.20127,124.400423,67.245339,5498.294180,60.342857,188.020317,124.382771,124.838095,124.838095,49.712310,0.024736
std,76.989469,72.798956,72.341004,128.27991,42.759970,31.256661,4343.416277,49.844427,51.398729,22.153693,56.624119,56.624119,23.429656,1.266110
min,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,53.333333,0.000000,0.000000,0.000000,-1.732051
25%,52.000000,64.000000,64.000000,280.00000,93.333333,42.015870,1765.333333,20.000000,152.000000,109.066667,80.000000,80.000000,31.111111,-1.319046
50%,116.000000,128.000000,128.000000,372.00000,124.000000,68.039204,4629.333333,48.000000,200.000000,124.382771,124.000000,124.000000,49.777778,0.142659
75%,188.000000,188.000000,188.000000,468.00000,156.000000,91.709668,8410.666667,92.000000,232.000000,138.400000,168.000000,168.000000,68.000000,1.326963
max,252.000000,252.000000,252.000000,720.00000,240.000000,137.772760,18981.333333,232.000000,252.000000,193.333333,248.000000,248.000000,105.777778,1.732051

In [16]:
#김정명15kg 가속도데이터 오른쪽
rawData_RA_15origin = pd.read_csv('data/15kg_jung_141654_right_axis_data.txt', sep = ' ', names=['time','RAX','RAY','RAZ'])
#rawData1 = rawData.set_index('time')
rawData_RA_15origin.drop('time', axis=1, inplace=True)
rawData_RA_15=rawData_RA_15origin.copy()
rawData_RA_15['RA_sum']=rawData_RA_15origin.sum(axis=1) #합계
rawData_RA_15['RA_mean']=rawData_RA_15origin.mean(axis=1) #평균
rawData_RA_15['RA_std']=rawData_RA_15origin.std(axis=1) #표준편차
rawData_RA_15['RA_var']=rawData_RA_15origin.var(axis=1) #분산
rawData_RA_15['RA_min']=rawData_RA_15origin.min(axis=1) #최소
rawData_RA_15['RA_max']=rawData_RA_15origin.max(axis=1) #최대
rawData_RA_15['RA_sma']=rawData_RA_15['RA_mean'].rolling(window=5).mean() #이동평균
rawData_RA_15['RA_quantile']=rawData_RA_15origin.quantile(axis=1) #0부터1까지의 분위수 계산
rawData_RA_15['RA_median']= rawData_RA_15origin.median(axis=1) # 중위값
rawData_RA_15['RA_mad']=rawData_RA_15origin.mad(axis=1) # 평균값에서 절대 평균편차
rawData_RA_15['RA_skew'] = rawData_RA_15origin.skew(axis=1) # 표본비대칭도
#rawData_RA_15['RA_kurt'] = rawData_RA_15origin.kurt(axis=1) # 표본첨도
rawData_RA_15['RA_sma']=rawData_RA_15['RA_sma'].fillna(rawData_RA_15['RA_sma'].mean())#결측값수정
rawData_RA_15.describe()

,RAX,RAY,RAZ,RA_sum,RA_mean,RA_std,RA_var,RA_min,RA_max,RA_sma,RA_quantile,RA_median,RA_mad,RA_skew
count,1576.000000,1576.000000,1576.000000,1576.000000,1576.000000,1576.000000,1576.000000,1576.000000,1576.000000,1576.000000,1576.000000,1576.000000,1576.000000,1576.000000
mean,124.253807,127.241117,122.314721,373.809645,124.603215,68.404759,5643.810491,59.106599,188.921320,124.470399,125.781726,125.781726,50.578680,-0.052400
std,79.734522,71.863311,75.274279,133.105422,44.368474,31.067859,4339.758864,50.877894,51.722669,24.253211,59.188785,59.188785,23.197695,1.279923
min,0.000000,0.000000,0.000000,24.000000,8.000000,0.000000,0.000000,0.000000,12.000000,48.800000,0.000000,0.000000,0.000000,-1.732051
25%,48.000000,64.000000,56.000000,284.000000,94.666667,46.130250,2128.000000,16.000000,160.000000,107.733333,76.000000,76.000000,32.888889,-1.398988
50%,126.000000,132.000000,120.000000,376.000000,125.333333,69.397406,4816.000000,44.000000,204.000000,123.733333,128.000000,128.000000,50.666667,-0.063812
75%,200.000000,188.000000,188.000000,468.000000,156.000000,93.209442,8688.000000,92.000000,232.000000,140.800000,172.000000,172.000000,68.444444,1.282287
max,252.000000,252.000000,252.000000,720.000000,240.000000,142.042247,20176.000000,232.000000,252.000000,204.533333,248.000000,248.000000,109.333333,1.732051

In [17]:
Sensor_data_15_P = pd.merge(rawData_LP_15, rawData_RP_15,left_index=True,right_index=True)
Sensor_data_15_A = pd.merge(rawData_LA_15, rawData_RA_15,left_index=True,right_index=True)
Sensor_data_15 = pd.merge(Sensor_data_15_P, Sensor_data_15_A,left_index=True,right_index=True)
Sensor_data_15['label']=15
Sensor_data_15.to_csv("data/data_namuk/Sensor_data_jung_15.csv", mode='w')
Sensor_data_15_P.to_csv("data/data_namuk/Sensor_Press_data_jung_15.csv", mode='w')
Sensor_data_15_A.to_csv("data/data_namuk/Sensor_Accel_data_jung_15.csv", mode='w')
Sensor_data_15.describe()

,LP1,LP2,LP3,LP4,LP5,LP6,LP7,LP_sum,LP_mean,LP_std,...,RA_std,RA_var,RA_min,RA_max,RA_sma,RA_quantile,RA_median,RA_mad,RA_skew,label
count,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000,...,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000,1575.000000,1575.0
mean,7.564444,18.714921,15.495238,12.200000,11.636190,11.843175,30.794921,108.248889,15.464127,9.238409,...,68.375628,5639.100952,59.136508,188.899048,124.446316,125.739683,125.739683,50.555485,-0.051429,15.0
std,12.511728,17.118449,14.474394,11.148187,11.212302,11.090601,26.210209,88.008549,12.572650,8.629384,...,31.056188,4337.106741,50.880192,51.731536,24.242058,59.184039,59.184039,23.186774,1.279750,0.0
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.142857,0.000000,...,0.000000,0.000000,0.000000,12.000000,48.800000,0.000000,0.000000,0.000000,-1.732051,15.0
25%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.000000,1.000000,0.487950,...,46.130250,2128.000000,16.000000,160.000000,107.733333,76.000000,76.000000,32.888889,-1.398378,15.0
50%,1.000000,20.000000,16.000000,13.000000,7.000000,8.000000,36.000000,128.000000,18.285714,10.799030,...,69.397406,4816.000000,44.000000,204.000000,123.733333,128.000000,128.000000,50.666667,-0.063812,15.0
75%,9.000000,34.000000,28.000000,22.000000,24.000000,24.000000,52.000000,191.000000,27.285714,13.645163,...,93.123534,8672.000000,92.000000,232.000000,140.800000,172.000000,172.000000,68.444444,1.285973,15.0
max,58.000000,65.000000,48.000000,37.000000,32.000000,33.000000,97.000000,244.000000,34.857143,37.385380,...,142.042247,20176.000000,232.000000,252.000000,204.533333,248.000000,248.000000,109.333333,1.732051,15.0

In [18]:
#정명 20kg 왼쪽압력데이터
rawData_LP_20origin = pd.read_csv('data/20kg_jung_140827_left_pressure_data.txt', sep = ' ', names=['time','LP1','LP2','LP3', 'LP4', 'LP5', 'LP6','LP7'])
#rawData1 = rawData.set_index('time')
rawData_LP_20origin.drop('time', axis=1, inplace=True)
rawData_LP_20=rawData_LP_20origin.copy()
rawData_LP_20['LP_sum']=rawData_LP_20origin.sum(axis=1) #합계
rawData_LP_20['LP_mean']=rawData_LP_20origin.mean(axis=1) #평균
rawData_LP_20['LP_std']=rawData_LP_20origin.std(axis=1) #표준편차
rawData_LP_20['LP_var']=rawData_LP_20origin.var(axis=1) #분산
rawData_LP_20['LP_min']=rawData_LP_20origin.min(axis=1) #최소
rawData_LP_20['LP_max']=rawData_LP_20origin.max(axis=1) #최대
rawData_LP_20['LP_sma']=rawData_LP_20['LP_mean'].rolling(window=5).mean() #이동평균
rawData_LP_20['LP_quantile']=rawData_LP_20origin.quantile(axis=1) #0부터1까지의 분위수 계산
rawData_LP_20['LP_median']= rawData_LP_20origin.median(axis=1) # 중위값
rawData_LP_20['LP_mad']=rawData_LP_20origin.mad(axis=1) # 평균값에서 절대 평균편차
rawData_LP_20['LP_skew'] = rawData_LP_20origin.skew(axis=1) # 표본비대칭도
rawData_LP_20['LP_kurt'] = rawData_LP_20origin.kurt(axis=1) # 표본첨도
rawData_LP_20['LP_sma']=rawData_LP_20['LP_sma'].fillna(rawData_LP_20['LP_sma'].mean())#결측값수정
rawData_LP_20.describe()

,LP1,LP2,LP3,LP4,LP5,LP6,LP7,LP_sum,LP_mean,LP_std,LP_var,LP_min,LP_max,LP_sma,LP_quantile,LP_median,LP_mad,LP_skew,LP_kurt
count,1755.000000,1755.000000,1755.00000,1755.000000,1755.000000,1755.000000,1755.000000,1755.000000,1755.000000,1755.000000,1755.000000,1755.000000,1755.000000,1755.000000,1755.000000,1755.000000,1755.000000,1755.000000,1755.000000
mean,8.989744,19.814815,17.17094,13.856980,10.952707,10.815385,28.879772,110.480342,15.782906,9.017155,156.435409,3.299715,29.519658,15.763254,15.908262,15.908262,6.582383,-0.134152,1.396792
std,14.007650,17.250168,15.25927,12.165598,10.780993,10.186353,25.536564,87.563094,12.509013,8.670014,246.410844,5.128139,25.391036,12.432823,13.732172,13.732172,6.992792,1.131803,2.544312
min,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000,0.142857,0.000000,0.000000,0.000000,1.000000,0.142857,0.000000,0.000000,0.000000,-2.645751,-2.800000
25%,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,7.000000,1.000000,0.487950,0.238095,1.000000,1.000000,1.000000,1.000000,1.000000,0.408163,-0.586403,0.000000
50%,1.000000,24.000000,19.00000,14.000000,4.000000,8.000000,27.000000,137.000000,19.571429,9.324826,86.952381,1.000000,30.000000,19.000000,20.000000,20.000000,6.122449,0.000000,0.720313
75%,10.000000,32.000000,30.00000,26.000000,23.000000,22.000000,49.000000,187.000000,26.714286,12.714821,161.666667,1.000000,49.000000,26.571429,27.000000,27.000000,8.653061,0.374166,2.905766
max,58.000000,63.000000,51.00000,35.000000,31.000000,28.000000,98.000000,242.000000,34.571429,37.057870,1373.285714,24.000000,98.000000,34.428571,48.000000,48.000000,31.346939,2.645751,7.000000

In [19]:
#정명 20kg 압력데이터 오른쪽
rawData_RP_20origin = pd.read_csv('data/20kg_jung_140827_right_pressure_data.txt', sep = ' ', names=['time','RP1','RP2','RP3', 'RP4', 'RP5', 'RP6','RP7'])
#rawData1 = rawData.set_index('time')
rawData_RP_20origin.drop('time', axis=1, inplace=True)
rawData_RP_20=rawData_RP_20origin.copy()
rawData_RP_20['RP_sum']=rawData_RP_20origin.sum(axis=1) #합계
rawData_RP_20['RP_mean']=rawData_RP_20origin.mean(axis=1) #평균
rawData_RP_20['RP_std']=rawData_RP_20origin.std(axis=1) #표준편차
rawData_RP_20['RP_var']=rawData_RP_20origin.var(axis=1) #분산
rawData_RP_20['RP_min']=rawData_RP_20origin.min(axis=1) #최소
rawData_RP_20['RP_max']=rawData_RP_20origin.max(axis=1) #최대
rawData_RP_20['RP_sma']=rawData_RP_20['RP_mean'].rolling(window=5).mean() #이동평균
rawData_RP_20['RP_quantile']=rawData_RP_20origin.quantile(axis=1) #0부터1까지의 분위수 계산
rawData_RP_20['RP_median']= rawData_RP_20origin.median(axis=1) # 중위값
rawData_RP_20['RP_mad']=rawData_RP_20origin.mad(axis=1) # 평균값에서 절대 평균편차
rawData_RP_20['RP_skew'] = rawData_RP_20origin.skew(axis=1) # 표본비대칭도
rawData_RP_20['RP_kurt'] = rawData_RP_20origin.kurt(axis=1) # 표본첨도
rawData_RP_20['RP_sma']=rawData_RP_20['RP_sma'].fillna(rawData_RP_20['RP_sma'].mean())#결측값수정
rawData_RP_20.describe()

,RP1,RP2,RP3,RP4,RP5,RP6,RP7,RP_sum,RP_mean,RP_std,RP_var,RP_min,RP_max,RP_sma,RP_quantile,RP_median,RP_mad,RP_skew,RP_kurt
count,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000
mean,20.711352,3.888192,2.175128,5.998859,6.007416,6.480890,6.816885,52.078722,7.439817,6.533611,78.820471,1.412436,20.905305,7.429503,6.231603,6.231603,4.199891,1.333660,3.216693
std,18.892056,4.781533,3.259096,6.294884,5.797718,6.243518,7.553697,46.471005,6.638715,6.012739,100.132866,2.091078,18.682371,6.602955,6.069516,6.069516,3.962783,1.145647,2.669485
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.142857,0.000000,0.000000,0.000000,1.000000,0.142857,0.000000,0.000000,0.000000,-2.645751,-2.800000
25%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.000000,1.000000,0.487950,0.238095,1.000000,1.000000,1.000000,1.000000,1.000000,0.408163,1.229634,0.000000
50%,17.000000,1.000000,1.000000,3.000000,4.000000,5.000000,3.000000,40.000000,5.714286,5.304984,28.142857,1.000000,17.000000,5.742857,4.000000,4.000000,3.265306,1.583602,3.749290
75%,40.000000,5.000000,1.000000,12.000000,12.000000,11.000000,13.000000,102.000000,14.571429,11.964232,143.142857,1.000000,40.000000,14.542857,12.000000,12.000000,7.387755,2.060977,4.979436
max,59.000000,17.000000,15.000000,20.000000,19.000000,21.000000,26.000000,138.000000,19.714286,21.076956,444.238095,12.000000,59.000000,19.514286,19.000000,19.000000,15.591837,2.645751,7.000000

In [20]:
#정명 20kg 가속도 데이터 왼쪽
rawData_LA_20origin = pd.read_csv('data/20kg_jung_140827_left_axis_data.txt', sep = ' ', names=['time','LAX','LAY','LAZ'])
#rawData1 = rawData.set_index('time')
rawData_LA_20origin.drop('time', axis=1, inplace=True)
rawData_LA_20=rawData_LA_20origin.copy()
rawData_LA_20['LA_sum']=rawData_LA_20origin.sum(axis=1) #합계
rawData_LA_20['LA_mean']=rawData_LA_20origin.mean(axis=1) #평균
rawData_LA_20['LA_std']=rawData_LA_20origin.std(axis=1) #표준편차
rawData_LA_20['LA_var']=rawData_LA_20origin.var(axis=1) #분산
rawData_LA_20['LA_min']=rawData_LA_20origin.min(axis=1) #최소
rawData_LA_20['LA_max']=rawData_LA_20origin.max(axis=1) #최대
rawData_LA_20['LA_sma']=rawData_LA_20['LA_mean'].rolling(window=5).mean() #이동평균
rawData_LA_20['LA_quantile']=rawData_LA_20origin.quantile(axis=1) #0부터1까지의 분위수 계산
rawData_LA_20['LA_median']= rawData_LA_20origin.median(axis=1) # 중위값
rawData_LA_20['LA_mad']=rawData_LA_20origin.mad(axis=1) # 평균값에서 절대 평균편차
rawData_LA_20['LA_skew'] = rawData_LA_20origin.skew(axis=1) # 표본비대칭도
#rawData_LA_20['LA_kurt'] = rawData_LA_20origin.kurt(axis=1) # 표본첨도 - 가속도값에서 NAN으로 나와 삭제
rawData_LA_20['LA_sma']=rawData_LA_20['LA_sma'].fillna(rawData_LA_20['LA_sma'].mean())#결측값수정
rawData_LA_20.describe()

,LAX,LAY,LAZ,LA_sum,LA_mean,LA_std,LA_var,LA_min,LA_max,LA_sma,LA_quantile,LA_median,LA_mad,LA_skew
count,1755.000000,1755.000000,1755.000000,1755.000000,1755.000000,1755.000000,1755.000000,1755.000000,1755.000000,1755.000000,1755.000000,1755.000000,1755.000000,1755.000000
mean,129.850712,126.792023,126.969801,383.612536,127.870845,66.777158,5383.639886,64.041026,190.849003,127.851666,128.722507,128.722507,49.323457,-0.028034
std,74.688211,72.131512,73.001747,126.605918,42.201973,30.413452,4222.480357,49.438703,49.750455,23.297053,56.136805,56.136805,22.719866,1.268880
min,0.000000,0.000000,0.000000,32.000000,10.666667,0.000000,0.000000,0.000000,16.000000,41.600000,4.000000,4.000000,0.000000,-1.732051
25%,64.000000,64.000000,64.000000,292.000000,97.333333,42.770706,1829.333333,24.000000,160.000000,111.733333,84.000000,84.000000,31.555556,-1.324523
50%,132.000000,124.000000,124.000000,388.000000,129.333333,66.493107,4421.333333,52.000000,204.000000,127.733333,128.000000,128.000000,48.888889,0.000000
75%,196.000000,184.000000,190.000000,476.000000,158.666667,90.979851,8277.333333,96.000000,232.000000,143.866667,172.000000,172.000000,66.666667,1.293343
max,252.000000,252.000000,252.000000,728.000000,242.666667,142.154845,20208.000000,232.000000,252.000000,202.666667,252.000000,252.000000,109.333333,1.732051

In [21]:
#김정명20kg 가속도 데이터 오른쪽
rawData_RA_20origin = pd.read_csv('data/20kg_jung_140827_right_axis_data.txt', sep = ' ', names=['time','RAX','RAY','RAZ'])
#rawData1 = rawData.set_index('time')
rawData_RA_20origin.drop('time', axis=1, inplace=True)
rawData_RA_20=rawData_RA_20origin.copy()
rawData_RA_20['RA_sum']=rawData_RA_20origin.sum(axis=1) #합계
rawData_RA_20['RA_mean']=rawData_RA_20origin.mean(axis=1) #평균
rawData_RA_20['RA_std']=rawData_RA_20origin.std(axis=1) #표준편차
rawData_RA_20['RA_var']=rawData_RA_20origin.var(axis=1) #분산
rawData_RA_20['RA_min']=rawData_RA_20origin.min(axis=1) #최소
rawData_RA_20['RA_max']=rawData_RA_20origin.max(axis=1) #최대
rawData_RA_20['RA_sma']=rawData_RA_20['RA_mean'].rolling(window=5).mean() #이동평균
rawData_RA_20['RA_quantile']=rawData_RA_20origin.quantile(axis=1) #0부터1까지의 분위수 계산
rawData_RA_20['RA_median']= rawData_RA_20origin.median(axis=1) # 중위값
rawData_RA_20['RA_mad']=rawData_RA_20origin.mad(axis=1) # 평균값에서 절대 평균편차
rawData_RA_20['RA_skew'] = rawData_RA_20origin.skew(axis=1) # 표본비대칭도
#rawData_LA_20['LA_kurt'] = rawData_LA_20origin.kurt(axis=1) # 표본첨도 - 가속도값에서 NAN으로 나와 삭제
rawData_RA_20['RA_sma']=rawData_RA_20['RA_sma'].fillna(rawData_RA_20['RA_sma'].mean())#결측값수정
rawData_RA_20.describe()

,RAX,RAY,RAZ,RA_sum,RA_mean,RA_std,RA_var,RA_min,RA_max,RA_sma,RA_quantile,RA_median,RA_mad,RA_skew
count,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000
mean,121.389618,125.802624,123.288078,370.480319,123.493440,66.192499,5282.932877,61.359954,187.021107,123.610292,122.099258,122.099258,48.916778,0.054869
std,72.632900,73.056929,74.037783,128.829609,42.943203,30.033324,4128.593675,48.478529,51.179870,21.812779,56.849972,56.849972,22.504261,1.264633
min,0.000000,0.000000,0.000000,36.000000,12.000000,4.618802,21.333333,0.000000,20.000000,44.533333,4.000000,4.000000,3.555556,-1.732051
25%,60.000000,64.000000,56.000000,280.000000,93.333333,42.332021,1792.000000,20.000000,152.000000,108.266667,80.000000,80.000000,31.111111,-1.273529
50%,116.000000,124.000000,120.000000,364.000000,121.333333,66.010100,4357.333333,52.000000,196.000000,123.610292,120.000000,120.000000,48.000000,0.142659
75%,184.000000,188.000000,184.000000,468.000000,156.000000,90.066642,8112.000000,92.000000,232.000000,138.666667,168.000000,168.000000,65.777778,1.329404
max,252.000000,252.000000,252.000000,732.000000,244.000000,136.313364,18581.333333,236.000000,252.000000,198.400000,248.000000,248.000000,104.888889,1.732051

In [22]:
#20kg 압력과 가속도 데이터 병합
Sensor_data_20_P = pd.merge(rawData_LP_20, rawData_RP_20,left_index=True,right_index=True)
Sensor_data_20_A = pd.merge(rawData_LA_20, rawData_RA_20,left_index=True,right_index=True)
Sensor_data_20 = pd.merge(Sensor_data_20_P, Sensor_data_20_A,left_index=True,right_index=True)
Sensor_data_20['label']=20
Sensor_data_20.to_csv("data/data_namuk/Sensor_data_jung_20.csv", mode='w')
Sensor_data_20_P.to_csv("data/data_namuk/Sensor_Press_data_jung_20.csv", mode='w')
Sensor_data_20_A.to_csv("data/data_namuk/Sensor_Accel_data_jung_20.csv", mode='w')
Sensor_data_20.describe()

,LP1,LP2,LP3,LP4,LP5,LP6,LP7,LP_sum,LP_mean,LP_std,...,RA_std,RA_var,RA_min,RA_max,RA_sma,RA_quantile,RA_median,RA_mad,RA_skew,label
count,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,...,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.000000,1753.0
mean,8.998859,19.802054,17.157444,13.845408,10.937821,10.802054,28.883628,110.427268,15.775324,9.016123,...,66.192499,5282.932877,61.359954,187.021107,123.610292,122.099258,122.099258,48.916778,0.054869,20.0
std,14.013040,17.255869,15.262740,12.167709,10.778123,10.184494,25.550874,87.598943,12.514135,8.674908,...,30.033324,4128.593675,48.478529,51.179870,21.812779,56.849972,56.849972,22.504261,1.264633,0.0
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.142857,0.000000,...,4.618802,21.333333,0.000000,20.000000,44.533333,4.000000,4.000000,3.555556,-1.732051,20.0
25%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.000000,1.000000,0.487950,...,42.332021,1792.000000,20.000000,152.000000,108.266667,80.000000,80.000000,31.111111,-1.273529,20.0
50%,1.000000,24.000000,19.000000,14.000000,4.000000,8.000000,27.000000,137.000000,19.571429,9.317163,...,66.010100,4357.333333,52.000000,196.000000,123.610292,120.000000,120.000000,48.000000,0.142659,20.0
75%,10.000000,32.000000,30.000000,26.000000,23.000000,22.000000,49.000000,187.000000,26.714286,12.714821,...,90.066642,8112.000000,92.000000,232.000000,138.666667,168.000000,168.000000,65.777778,1.329404,20.0
max,58.000000,63.000000,51.000000,35.000000,31.000000,28.000000,98.000000,242.000000,34.571429,37.057870,...,136.313364,18581.333333,236.000000,252.000000,198.400000,248.000000,248.000000,104.888889,1.732051,20.0

In [36]:
import warnings
warnings.filterwarnings('ignore')
sensor_data_jung_all = pd.concat([Sensor_data_5, Sensor_data_10, Sensor_data_15, Sensor_data_20], ignore_index=True)
sensor_data_jung_all.describe()

,LAX,LAY,LAZ,LA_mad,LA_max,LA_mean,LA_median,LA_min,LA_quantile,LA_skew,...,RP_mean,RP_median,RP_min,RP_quantile,RP_skew,RP_sma,RP_std,RP_sum,RP_var,label
count,11690.000000,11690.000000,11690.000000,11690.000000,11690.000000,11690.000000,11690.000000,11690.000000,11690.000000,11690.000000,...,11690.000000,11690.000000,11690.000000,11690.000000,11690.000000,11690.000000,11690.000000,11690.000000,11690.000000,11690.000000
mean,124.015056,135.680411,118.244311,51.158331,191.989393,125.979926,126.541660,59.408725,126.541660,-0.001170,...,13.723084,13.127545,3.616253,13.127545,0.792317,13.715152,8.865059,96.061591,134.454475,9.251497
std,73.603794,72.072049,78.469864,22.354579,47.939091,42.612782,56.756101,51.164228,56.756101,1.228905,...,11.276466,11.813052,5.734572,11.813052,1.111004,11.241644,7.474623,78.935259,187.012583,5.693430
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.732051,...,0.000000,0.000000,0.000000,0.000000,-2.645751,0.057143,0.000000,0.000000,0.000000,5.000000
25%,64.000000,76.000000,44.000000,33.777778,160.000000,96.000000,84.000000,16.000000,84.000000,-1.263132,...,1.142857,1.000000,1.000000,1.000000,0.000000,1.257143,0.534522,8.000000,0.285714,5.000000
50%,120.000000,144.000000,112.000000,51.555556,204.000000,122.666667,124.000000,44.000000,124.000000,0.000000,...,13.428571,11.000000,1.000000,11.000000,1.023444,13.457143,9.564319,94.000000,91.476190,5.000000
75%,188.000000,196.000000,192.000000,68.444444,232.000000,156.000000,172.000000,92.000000,172.000000,1.205659,...,23.857143,23.000000,2.000000,23.000000,1.637996,23.850000,13.323359,167.000000,177.511905,15.000000
max,252.000000,252.000000,252.000000,111.111111,252.000000,250.666667,252.000000,248.000000,252.000000,1.732051,...,35.285714,43.000000,25.000000,43.000000,2.645751,35.200000,40.074336,247.000000,1605.952381,20.000000

In [38]:
print(sensor_data_jung_all['label'].value_counts())

5     6831
20    1753
15    1575
10    1531
Name: label, dtype: int64

In [40]:
sensor_data_jung_all.to_csv("data/data_namuk/sensor_jung_all.csv", mode='w')